<div>
    <div spinner ng-if="vm.isBusy"></div>
    <ul class="list-group">
        <li class="list-group-item post" ng-repeat="post in vm.pagedData">
            <span class="badge" uib-tooltip="{{post.$.Score + ' Score'}}">{{post.$.Score ? post.$.Score : 0}}</span>
            <div>
                <b ng-if="post.$.Title">
                    <span ng-bind-html="post.$.Title | to_trusted"></span>
                </b>
                <span ng-if="post.$.Body" ng-bind-html="post.$.Body | to_trusted"></span>
                <b ng-if="post.$.Tags">Tags:</b>
                <span>{{post.$.Tags}}</span>
            </div>
        </br>
        <div>
            <span>
                <i><img class="proPic" style="width:30px;" ng-src="{{post.user.ProfileImageUrl}}"/>
                    <b>
                        <span class="user" ng-click="vm.showUser(post.user)" ng-bind="vm.getUser(post.$.OwnerUserId, post)"></span>
                    </b>
                </i>
                <i>Posted On:
                    {{post.$.CreationDate | date:'mm/dd/yyyy hh:mm a'}}</i>
            </span>
            <span class="pull-right">Answers:
                <span class="badge" style="background-color:green">{{post.$.AnswerCount ? post.$.AnswerCount : 0}}</span>
            </span>&nbsp;
            <span class="pull-right">Comments:
                <span class="badge" style="background-color:blue">{{post.$.CommentCount ? post.$.CommentCount : 0}}</span>
            </span>&nbsp;
            <span class="pull-right">Views:
                <span class="badge" style="background-color:#a94442">{{post.$.ViewCount ? post.$.ViewCount : 0}}</span>
            </span>
        </div>
    </li>
</ul>
<div class="pull-right">
    <ul uib-pagination total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged()" rotate="false" max-size="maxSize" class="pagination-sm" boundary-link-numbers="false"></ul>
</div>
<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-{{user.DisplayName}}">{{user.DisplayName}}
            <span class="pull-right">
                <span style="color:green">+{{user.UpVotes}}</span>&nbsp;Votes&nbsp;<span style="color:red">-{{user.DownVotes}}</span>
            </span>
        </h3>
    </div>
    <div class="modal-body" id="modal-body-{{user.DisplayName}}">
        <div class="clearfix">
            <img class="pull-right" style="width:90px;" ng-src="{{user.ProfileImageUrl}}"/><br/>
            <b>AboutMe</b>
            <span ng-bind-html="user.AboutMe | to_trusted"></span>
        </div>
    </div>
</script>
</div>
